* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 1;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    font-weight: 400;
}

.hero-bg-light {
    background-image: url(../images/Light.png);
}

.hero-bg-dark {
    background-image: url(../images/Dark.png);
}
